<div class="well well-sm">
  <h5 class="screen-title">Screen</h5>
</div>
<div class="panel">
  <% ChairGroup.all.each do |group| %>
    <div class="map-row">
      <% group.chairs.each do |chair| %>
        <div class="seat seat-<%= chair.id %> <%= 'my-' if chair.user_id == @current_user_id %><%= 'booked' if chair.booked? %>">
          <%= "#{chair.to_s}" %>
        </div>
      <% end %>
      </div>
  <% end %>
</div>