<div class="row">
  <div class="col-sm-6">
    <% @chairs.each do |c| %>
      <div class="well">
        <%= link_to "book #{c.name}" , book_chair_path(c) %>
      </div>
    <% end %>
  </div>

  <script>
      var chair = function(msg) {
        $('#status').html('Sending ' + msg + '...');
        $.ajax({
          url: 'http://10.1.0.46:80/' + msg,
          dataType: 'json',
          success: function(data) {
            $('#status').html(data.led + ' set successfully!');
          },
          error: function(jqXHR, textStatus, errorThrown) {
            $('#status').html('error ' + textStatus + ' ' + errorThrown);
          },
          beforeSend: function() {
            $('.button').attr('disabled', 'disabled');
          },
          complete: function() {
            $('.button').removeAttr('disabled');
          },
          timeout: 5000
        });
      }
  </script>
</div>