<div class="row">
  <div class="col-sm-6">
    <% @chairs.each do |c| %>
      <div class="well <%= 'booked' if c.booked? %>">
        <%= link_to "#{c.chairs_manager_name}: #{c.name}" , book_chair_path(c) %>
      </div>
    <% end %>
  </div>
</div>