<div class="row">
  <div class="col-sm-6">
    <% @chairs.each do |c| %>
      <div class="well">
        <%= link_to "book #{c.name}" , book_chair_path(c) %>
      </div>
    <% end %>
  </div>
</div>