<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <div class="list-group-item">
        Available Seats
      </div>
      <% @available_chairs.each do |c| %>
        <%= link_to(book_chair_path(c), data: {id: "#{c.id}"}, class: 'list-group-item seat-select') do %>
          <%= "#{c.to_s}" %>
          <i class='seat-select-icon glyphicon pull-right'></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div id="footer" class="container">

    <nav class="navbar navbar-default ">
        <div class="navbar-inner navbar-content-center">
            <%= render partial: "shared/map" %>

            <a href="/chairs/{id}/book" class="btn btn-primary hidden confirmation-button col-xs-12">
              Book Seats
            </a>
        </div>
    </nav>
</div>


