<div class="row">
  <div class="container col-xs-12">
      <a href="#" onclick='location.reload();' class="btn col-xs-6">
        Refresh
      </a>
      <% if @current_user.chair %>
        <%= link_to 'Unbook my seat', unbook_chair_path(@current_user.chair), class: 'btn btn-warning col-xs-6' %>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="container col-xs-12">
      <a href="/chairs/{id}/book" class="btn btn-primary hidden confirmation-button col-xs-12">
        Book Seats
      </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <div class="list-group-item">
        Available Seats
      </div>
      <% @available_chairs.each do |c| %>
        <%= link_to(book_chair_path(c), data: {id: "#{c.id}"}, class: 'list-group-item seat-select') do %>
          <%= "#{c.to_s}" %>
          <i class='seat-select-icon glyphicon pull-right'></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="footer" class="container">
    <nav class="navbar navbar-default ">
        <div class="navbar-inner navbar-content-center">
            <%= render partial: "shared/map" %>
        </div>
    </nav>
</div>
